body {
  background-color:#e0f7fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 30px;
}

.wrapper {
  max-width: 900px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
}

#main-heading {
  font-size: 40px;
  color: #1e90ff;
}

.city-info {
  margin-bottom: 30px;
  text-align: justify;
}

.attractions h2 {
  text-align: center;
  color: #444;
  margin-bottom: 10px;
  font-size: 40px;
}
.attractions ul {
  text-align: center;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}
.attractions li {
  background-color: #e6f2ff;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.attractions li:hover {
  background-color: #d0eaff;
}
